<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193110635424-vnmeefs3cvggs4bkflgjh75c9sf8rd8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193110635424-vnmeefs3cvggs4bkflgjh75c9sf8rd8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>193110635424-b6io9mak6761hlt4lvio03mvl7sbaot5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDx4vSw0SPkb5uh2a7tjFhJJ53RKARqWV8</string>
	<key>GCM_SENDER_ID</key>
	<string>193110635424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.entvisionboard</string>
	<key>PROJECT_ID</key>
	<string>vision-board-dfa55</string>
	<key>STORAGE_BUCKET</key>
	<string>vision-board-dfa55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193110635424:ios:4ba9ee4c5bab514d6aeac5</string>
</dict>
</plist>